{{>header}}
    <div class="" id="collapseFormulario">
        <form action="/crear_curso_verificado" method="post">
            <label for="id">Id</label>
            <input type="number" name="id">
            <label for="nombre">nombre</label>
            <input type="text" name="nombre">
            <label for="valor">Valor</label>
            <input type="number" name="valor">
            <label for="modalidad">modalidad</label>
            <input type="text" name="modalidad">
            <label for="intensidadHoraria">Intensidad horaria</label>
            <input type="number "  name="intensidadHoraria">
            <label for="descripción">descripción</label>
            <input type="text"  name="descripcion">
            <button class="btn btn-primary">Crear curso</button>
        </form>
    </div> 
{{>footer}}