{{>header}}
<form action="/inscribir_verificado" method="post">
    <div class="form-group">
        <label for="cedula">Documento de identidad</label>
        <input type="number" name="cedula" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="correo">Correo</label>
        <input type="text" name="correo" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text"  name="telefono" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="curso">Seleccione un curso</label>
        {{{listarCursoInscribir listado}}}
    </div>
        <button class="btn btn-primary">Inscribir</button>
</form>

{{>footer}}